<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UILangAttribute]]>
<head>[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UIHeaderTag]]
[[header]]
[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UIDynamicCSS]]
[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UIModulesCSS]]
[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UICustomFavicon]]
</head>
<body[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UIBodyCSSClasses]]>
[[javaClass:com.orchestranetworks.manager.core.uicomponent.layout.UIComponentInPane]]
[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UIDynamicJS]]
[[bottom]]
[[javaclass:com.orchestranetworks.manager.core.uicomponent.main.UIModulesJS]]
[[javaclass:com.orchestranetworks.manager.core.uicomponent.layout.UIJScriptBuilderComponent]]
</body>
</html>